{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div>
            <a>Accueil</a> / <a>{{ theCategory }}</a> / <a>{{ theProduct }}</a>
        </div>
        <div class="">
            <div class="col row">
                <div class="col-md-6">
                    maquette
                </div>
                <div class="col-md-6">
                    {{ theProduct }}
                </div>
            </div>
        </div>
        <a href="{{ path('personnalisationClient', {'category': theCategory, product:'product'}) }}">ajouter au panier</a>
    </div>
{% endblock %}
