{% extends 'admin/adminbase.html.twig' %}

{% block title %}
    <div>admin category add</div>
{% endblock %}

{% block body %}
    {% for message in app.flashes('successCategoryAdd') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('errorCategoryAdd') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <form method="post" action="{{ path('admin_Show_category_add') }}">

        <input type="text" name="category_add">

        <input type="submit" value="Valider">
    </form>

{% endblock %}
