{% extends 'base.html.twig' %}

{% block content %}
    <div class="container mb-5">
        <div>
            <a href="{{ path('homeClient') }}" class="lienDark">Accueil</a> / <a
                    href="" class="lienDark">Mon compte</a>
        </div>
        <div class="border border-dark my-5">
            <div>
                en construction
            </div>
        </div>
    </div>
{% endblock %}
