{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}
    <div>admin login</div>
{% endblock %}

{% block body %}

{% endblock %}