{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div style="height: auto; width:100% ;">
            <div class="text-center my-5">La page de contact est en construction</div>
        </div>
    </div>
{% endblock %}
