body {
    font-family: ITC Avant Garde Gothic,sans-serif;
    margin: 0;
    padding: 0;
}

/*nov annonce*/
.header-nav {
    background-color: black;
    font-family: ITC Avant Garde Gothic,sans-serif;
    font-size: .7875rem;
}

.fs {
    font-size: 0.9rem;
    font-weight: bold;
}
/*tous les hover pas surligné*/
a {
    text-decoration: none !important;
}

/*menu catégories scrolling qui reste */
.bg_menu{
    width: 100%;
    margin: 0px auto 40px auto;
    background-color: #f8f9fa;
    position: sticky;
    top: 0px;
    z-index: 9999;
}

/*taille drapeau*/

.flag_size{
    margin: 5px 0;
    height: 20px;
    width: 40px;
}

.logo{
    margin: 20px 0;
}

#ouput{
    border: 1px solid black !important;
}
