body {
    font-family: ITC Avant Garde Gothic,sans-serif;
    margin: 0;
    padding: 0;
}

/*nov annonce*/
.header-nav {
    background-color: black;
    font-family: ITC Avant Garde Gothic,sans-serif;
    font-size: .7875rem;
}

.fs {
    font-size: 0.9rem;
    font-weight: bold;
}
/*tous les hover pas surligné*/
a {
    text-decoration: none !important;
}

/*menu catégories scrolling qui reste */
.bg_menu{
    width: 100%;
    margin: 0px auto 20px auto;
    background-color: #f8f9fa;
    position: sticky;
    top: 0px;
    z-index: 9999;
    border: 1px solid #dee2e6;
}

/*taille drapeau homepage*/
.flag_size{
    margin: 5px 0;
    height: 20px;
    width: 40px;
}
/*logo homepage*/
.logo{
    margin: 20px 0;
}

#ouput{
    border: 1px solid black !important;
}

/* category */
.size-img-product-in-catagery{
    height: auto;
    width: 100%;
}
.size-image-category{
    height: 250px;
    width: 250px;
}

.color-rond {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/*buttion submit*/

.btn-submit {
    background-color: #ef8343;
    border-color: #ef8343;
    border-radius: 0% !important;
    color: #FFFFFF;
}

.btn-submit:hover{
    background-color: #eb6414;
}

/* les autres button normal*/

.btn-noir{
    background-color: #000000;
    border-radius: 0% !important;
}

.btn-noir:hover{
    background-color:#ef8343;
}

.zone-background-grey{
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.fontSizeBtn {
    font-size: 15px !important;
}

/*footer Link*/

.footerLink{
    color: #FFFFFF;
}

/*hover les couleur*/

.hoverColorAndImg:hover{
    opacity: 0.6;
}

.backgroundOrange{
    background-color: #ef8343 !important;
}

.no-decoration{
    text-decoration: none !important;
}

/*personnalisation maquette*/

#dataFile {
    position: absolute;
}

#logoPersonnalisation {
    display: none;
}

.zone-marquage {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    top:100px;
    left: 100px;
    position: absolute;
}

label {
    margin-right: 10px;
}

.lienDark {
    color: black;
}

.total {
    height: 200px;
    width: 100%;
}

.icon-size {
    width: 20px;
    height: auto;
}

.lienDark:hover {
    color: #ef8343;
}

.lienWhite{
    color: white;
}

.lienWhite:hover{
    color: #ef8343;
}

.fontSizeIcon {
    font-size: 30px !important;
}

.borderOrange{
    border: 1px solid #ef8343;
}

.btn-orange{
    background-color: #ef8343;
}

.btn-orange:hover{
    background-color: black;
}

#pp{
    height: auto;
    width: 5%;
}

#cb{
    height: auto;
    width: 20%;
}

